.error {
    color: darkred;
}

body {
    background-color: black;
    color: whitesmoke;
}

.btn-sm {
    margin: 8px;
}

.table {
    width: 90vw;
}

.exchange-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4rem;
}